.header {
	height: 60px;
	background-color: var(--dark-bg-color);
	color: var(--dark-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.left {
	display: flex;
	align-items: center;
}
.right {
	display: flex;
	align-items: center;
}
