# https://editorconfig.org
# 用于在不同的编辑器下，保持格式一致的一些配置
# webstorm会自动读取.editorconfig，vscode需要安装editorconfig插件，才会读取
root = true
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
